PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lenvora
JWT_SECRET=replace_with_a_random_32_plus_character_secret
CORS_ORIGIN=http://localhost:5173
ADMIN_EMAIL=owner.me2027@gmail.com
ADMIN_PASSWORD_HASH=210000:fd779eddf68394df0ac9cc3304ab0498:cfc48450a93126ee97b3bd68ef0479a3bc5e1638bab090ddfc9c2b34848e2ad6
